<div>
  <p>
    Olá, <strong>{{ student }}</strong> sua dúvida foi respondida.
  </p>
  <ul>
    <li><strong>Pergunta:</strong> {{ question }}</li>
    <li><strong>Resposta:</strong> {{ answer }} </li>
    <li><strong>Data:</strong> {{ answer_at }}</li>
  </ul>
</div>
